
.matomeBoxes {
    stroke-width:2px;
    stroke:#333333;
    fill:white;
}

.detailBoxes {
    stroke-width:2px;
    filter:alpha(opacity=30);
    -moz-opacity: 0.3;
    opacity: 0.3;
}
.matomeTexts {
    font-family: sans-serif;
}

.detailTexts {
    font-family: sans-serif;
}
.links {
    fill: none;
    filter:alpha(opacity=70);
    -moz-opacity: 0.7;
    opacity: 0.7;
    stroke-width:2px;
}