@(queryForm: Form[Query])(implicit messages: Messages)
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>キュレーションマップ</title>
        <link rel="stylesheet" type="text/css" href= "@routes.Assets.at("stylesheets/main.css")">
    </head>
    <body>
        @helper.form(action = routes.HomeController.map()) {
                @helper.inputText(queryForm("query"),'_label -> "キュレーションマップを検索", '_showConstraints -> false)
                <input type="submit" value="検索">
        }
    </body>
</html>