@(query: String ,queryForm: Form[Query])(implicit messages: Messages)
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>@query - キュレーションマップ</title>
        <link rel="stylesheet" type="text/css" href= "@routes.Assets.at("stylesheets/main.css")">
        <script type="module" src="@routes.Assets.at("javascripts/dist/main.js")"></script>
    </head>
    <body>
        <p hidden id = "query">@query</p>
        @helper.form(action = routes.HomeController.map()) {
            @helper.inputText(queryForm("query"),'_label -> "キュレーションマップを検索", '_showConstraints -> false)
            <input type="submit" id="searchButton" value="検索">
        }
        <p>
            検索ワード：　@query
        </p>

        <div>

            <input type="range" class="param" id="alpha_range" value="0.6" min="0.1" max="1.0" step="0.1">

            <div id="alpha" class="param">alpha = 0.6</div>

            <br>

            <input type="range" class="param" id="beta_range" value="0.6" min="0.1" max="1.0" step="0.1">

            <div id="beta" class="param">beta = 0.6</div>
            <br>

            <p>
                <input type="checkbox" id="isMergeCheck" value="true" checked="checked">テキスト断片を併合する
                <br>
                <input type="checkbox" id="isGenSplitLink" value="true" checked="checked">補助リンクを生成する
            </p>

            <input type="submit" class="param" id="reloadButton" value="Reload">

        </div>
        <select name="docNum" id="docSelect">
        </select>　
        <table width="100%" class="guideTable">
            <tr>
                <th align="left" id="matomeDocUrl">まとめ文書</th>
                <th align="right">詳細文章群</th>
            </tr>
        </table>
    </body>
</html>